
.body{
    background-color: #eedbdb;
    
}


nav{
    background-color: #dab0b0 ;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    position: relative;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    display: block;
    transition: color 0,3s;
}

nav ul li a:hover{
    color: rgb(100, 53, 81);
}


nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c89f9f ;
    box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0,2);
    z-index: 1;
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li{
    margin: 0;
}

nav ul li .dropdown-content li a{
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover{
    background-color: #f6d1d1;
}

nav ul li:hover .dropdown-content{
    display: block;
}

.brutalist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 130px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 900;
    color: rgb(218, 86, 123);
    border: 3px solid #ffe2e2;
    outline: 3px solid #ffe2e2;
    box-shadow: 6px 6px 0 rgb(100, 53, 81);
    transition: all 0.1s ease-out;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  
  .brutalist-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    z-index: 1;
    transition: none;
    
  }
  
  @keyframes slide {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
  .brutalist-button:hover::before {
    /* Show the pseudo-element on hover */
    opacity: 1;
    animation: slide 2s infinite;
  }
  
  .brutalist-button:hover {
    transform: translate(-4px, -4px);
    box-shadow: 10px 10px 0 rgb(218, 86, 123);;
    background-color: #fff;
    color: rgb(218, 86, 123);
    border-color: rgb(218, 86, 123);
  }
  
  @keyframes slide {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
  .brutalist-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0 rgb(100, 53, 81);
    background-color: #fff;
    color: #ffe2e2;
    border-color: #ffe2e2;
  }
  
  .button-text {
    color: rgb(218, 86, 123);
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    position: relative;
    z-index: 1;
  }
  
  .brutalist-button:hover .button-text {
    transform: skew(-5deg);
  }
  
  .brutalist-button:active .button-text {
    transform: skew(5deg);
  }
  
  .button-text span:first-child {
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .button-text span:last-child {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .text{
    color: rgb(218, 86, 123);
   }


   /* From Uiverse.io by Sr-Ajo */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #f6d1d1;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .message {
    color: #dab0b0;
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgb(100, 53, 81);;
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(100, 53, 81);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgb(100, 53, 81);;
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: rgb(100, 53, 81);;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: green;
  }
  
  .fancy {
    background-color: white;
    border: 2px solid rgb(100, 53, 81);
    border-radius: 0px;
    box-sizing: border-box;
    color: rgb(100, 53, 81);
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: rgb(100, 53, 81);;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: rgb(100, 53, 81);;
    transform: translateX(30%);
  }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: rgb(100, 53, 81);;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: rgb(100, 53, 81);;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: rgb(100, 53, 81);;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: rgb(100, 53, 81);;
    background: #dab0b0;
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: rgb(100, 53, 81);;
  }
  
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  .texto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(100, 53, 81);
  }