* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #f8dddd;;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #dab0b0;
    font-weight: bold;
}


input.quantidade {
    width: 50px;
    padding: 5px;
    text-align: center;
}


button.remover-produto {
    background-color: rgb(100, 53, 81);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.remover-produto:hover {
    background-color: rgb(100, 53, 81);
}


.total-final {
    text-align: right;
    margin-top: 20px;
}

.total-final h3 {
    color: #333;
}

#total-final {
    color: rgb(100, 53, 81);
}
